/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color:#8d8d8d;
}
body::before{
    content: '';
    display: block;
    height: 80px;
    background-color: #0d325a;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: 500;
}
hr{
    border: 1px solid #d3d3d3;
}
a{
    font-size: 12px;
    color: #618fc1;
}

/* UTILITIES */
/* Layout */
.container{
    width: 1200px;
    margin: 0 auto;
}
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}
.float-left{
    float: left;
}
.w-half{
    width: 50%;
}
.let-space-1{
    letter-spacing: 1px;
}
/* Menù */
.menu-inline li{
    display: inline-block;
    list-style: none;
    margin-right: 20px;
}
.menu-inline li:last-child{
    margin-right: 0;
}
/* Buttons */
.btn{
    display: inline-block;
    min-width: 100px;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}
.btn.btn-green{
    background-color: #7cbb01;
    border:1px solid transparent;
}
.btn.btn-big{
    padding: 20px;
}
/* Help Button*/
.help.btn{
    min-width: 0;
    position: fixed;
    bottom: 0;
    right:250px;
    z-index: 10;
    border-radius: 5px 5px 0 0;
}

/* SITE HEADER */
.main-header{
    font-size: 12px;
    line-height: 80px;
    text-transform: uppercase;
    background-color:rgba(13,50,90,.8);
}
/* Header parts */
.main-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
.main-header .logo{
    width: 15%;
}
.main-header .nav-center{
    width: 45%;
}
.main-header .nav-right{
    width: 40%;
    text-align: right;
}
/* Logo */
.main-header .logo img{
    vertical-align: middle;
}
/* Header link */
.main-header a{
    text-decoration: none;
    color: white;
}
.main-header a.btn{
    line-height: 1;
}
.main-header a:not(.btn):hover{
    color:#7cbb01;
    text-shadow: 2px 2px #071b31;
}
.main-header .nav-center li{
    border: 2px solid transparent;
}
.main-header .nav-center li:hover{
    background-color: rgba(255,255,255,.2);
    border-bottom: 2px solid #7cbb01;
    border-top: 2px solid #7cbb01;
}

/* SITE MAIN */
/* Hero */
.hero{
    height: 470px;
    background-color: #0d325a;
    background-image: url('../img/background-header.png');
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: 115% 110%;
}
.hero .container{
    position: relative;
    height: 100%;
}
.hero .hero-text{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.hero .hero-text h1{
    margin-bottom: 30px;
    font-size: 48px;
    color: white;
}
/* Subtitle */
.subtitle{
    height: 135px;
    padding-top: 40px;
    background-color: #d3d3d3;
    text-align: center;
}
.subtitle h2{
    margin-bottom: 10px;
    color:black;
}

/* CENTRAL SECT. */
.central-section{
    padding: 40px 40px 0;
}
/* Central-top */
.central-top{
    margin-bottom: 20px;
}
.central-top .features{
    width: 29%;
    margin:0 3.25%;
    text-align: center;
}
.central-top .features:first-child{
    margin-left: 0;
}
.central-top .features:last-child{
    margin-right: 0;
}
/* features content */
.central-top .features img{
    height: 150px;
}
.central-top .features h2{
    margin:20px 0 15px;
    color:#7cbb01
}
.row-bottom .features::before{
    content: '';
    display: inline-block;
    width: 70px;
    border-top: 2px solid #d3d3d3;
}
.central-top .features p{
    padding:20px 0;
    line-height: 1.5;
}
/* Central-bottom */
.central-bottom .bottom-left,
.central-bottom .bottom-right{
    padding: 40px;
}
.central-bottom .bottom-right h2{
    margin-bottom: 10px;
    font-size: 2em;
    color: black;
}
.central-bottom .bottom-right p{
    margin-bottom: 10px;
}

/* VIEW PLAN */
.view-plan{
    margin-bottom: 50px;
    line-height: 150px;
    background-color: #d3d3d3;
}
.view-plan-left h2{
    color: black;
}
.view-plan-right{
text-align: right;
}
.view-plan-right li.select-item{
    border-bottom: 1px solid #8d8d8d;
    line-height: 1;
    cursor: pointer;
}
.view-plan-right li.select-item .arrow{
  display: inline-block;
  width: 70px;
}
.view-plan-right a.btn{
    line-height: 1;
}

/* REAL-LIFE */
.real-life{
    margin-bottom: 20px;
}
.real-life .real-life-left{
    padding: 50px;
}
.real-life .real-life-right{
    padding: 70px;
    padding-right: 150px;
}
.real-life .real-life-right h2{
    margin: 20px 0;
    color: black;
}
.real-life .real-life-right p{
    letter-spacing: 0;
    margin-bottom: 30px;
    padding: 10px 20px 0 0;
}
.real-life-right .clearfix{
    text-align: center;
    font-size: 14px;
    color:#618fc1;
}
.real-life-right .clearfix a{
    text-align: left;
    padding: 10px 20px;
    font-size: 12px;
}

/* HOW WORKS */
.how-works{
    padding: 30px;
}
.how-works-content{
    /* letter-spacing: 1px; */
    width: 685px;
    margin: 30px auto;
    text-align: center;
}
.how-works-content img{
    height: 260px;
    margin-top: 50px;
}
.how-works-content h2,
.how-works-content .small-text,
.how-works-content p,
.how-works-content a{
    padding: 10px;
}
.how-works-content h2{
    color: black;
}
.how-works-content h2 span{
    color: #7cbb01;
}
.how-works-content .small-text{
    font-size: 12px;
}
.how-works-content a{
    display: inline-block;
    /* letter-spacing: 0; */
}

/* COMPANY */
.company{
    height: 450px;
    margin-bottom: 30px;
    padding-top: 30px;
    /* letter-spacing: .8px; */
    background-color: #0d325a;
}
.company .container{
    position: relative;
    height: 100%;
}
.company .container .company-plan{
    width: 350px;
    position: absolute;
    left: 0;
    top:50%;
    transform: translateY(-50%);
}
.company-plan h2{
    margin-bottom: 50px;
    color: white;
}
.company-plan p{
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 1.5;
}
.company-plan a{
    padding: 10px 20px;
    font-size: 16px;
}


/* STRUCT PLAN */
.struct-plan{
    margin-bottom: 50px;
    /* letter-spacing: 1px; */
}
.struct-plan h2{
    line-height: 170px;
    text-align: center;
    color: black;
}
/* Employment box */
.struct-plan .employment-box{
    width: 921px;
    margin: 0 auto;
}
.employment-box .employment{
    width: 31%;
    margin-right: 3.5%;
}
.employment-box .employment:last-child{
    margin-right: 0;
}
.employment-box .employment img{
    height: 50px;
    margin-bottom: 30px;
}
.employment-box .employment  h3{
    margin-bottom: 20px;
    color: black;
}
.employment-box .employment p{
    margin-bottom: 20px;
    font-size: 14px;
}
.employment-box .employment hr{
    border: 3px solid #618fc1;
}
.employment-box .employment a{
    display: block;
    margin: 20px 0;
    font-size: 14px;
}
.employment-box .employment.worker hr{
    border-color: #f2a519;
}
.employment-box .employment.worker a{
    color: #f2a519;
}
.employment-box .employment.business hr{
    border-color: #82b10b;
}
.employment-box .employment.business a{
    color: #82b10b;
}

/* FAQS */
.faqs{
    height: 145px;
    background-color: #0d325a;
}
.faqs .container{
    position: relative;
    height: 100%;
}
.faqs .faqs-content{
    position: absolute;
    left: 0;
    top:50%;
    transform: translateY(-50%);
}
.faqs .faqs-content h2{
    margin-bottom: 10px;
    color: white;
}
.faqs .faqs-content h2 span{
    cursor: pointer;
    color: #f2a519;
}

/* FOOTER */
footer{
    height: 300px;
    padding-top: 50px;
    background-color: #17416b;
}
/* Left */
footer .company-menu h3{
    margin-bottom: 20px;
    color: white;
}
footer .company-menu li{
    list-style: none;
    margin-bottom: 10px;
}
footer .company-menu a{
    font-size: 14px;
    text-decoration: none;
    color:#8d8d8d
}
/* Right */
footer .info{
    text-align: right;
}
footer .info h3{
    margin-bottom: 40px;
    /* letter-spacing: 1px; */
    color: white;
}
footer .info ul{
    list-style: none;
    font-size: 14px;
}